<%= link_to products_path, class: 'btn btn-outline-secondary my-3' do %>
  <i class="bi bi-arrow-left"></i>
<% end %>
<div class="row">
 <div class="col-12">
    <div class="card p-3">
        <h4><%= @product.name %></h4>
        <h3><%=number_to_currency(@product.price)%></h3> 
        <p><%=@product.description %></p> 
        <div class="row">
          <div class="col-sm-4">
            <table>
              <tr>
                <td><b>Brand</b></td>
                <td><p class="mb-0 ms-2"><%=@product.brand %></p></td>
              </tr>
              <tr>
                <td><b>Category</b></td>
                <td><p class="mb-0 ms-2"><%=@product.category.name%></p></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="d-flex mt-3">
          <%= form_with url: product_add_item_path(@product.id),class:"d-flex" do |f|%>
            <%= f.number_field :quantity, placeholder: "Quantity", class:"form-control", required: true%>
            <%= f.submit 'Add to Cart', class: "btn btn-primary ms-2" %>
          <% end %>
        </div>
        </div>
    </div>
  </div>
</div>
  